/* logo */
.logoContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.logo {
  height: 40px;
  margin-right: 10px;
  padding: 4px 0;
}

.logo img {
  height: 100%;
}

.link {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.logoTitle {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 700;
}
